h2{
  padding: 10px;
  margin-bottom: 30px;
  color:#000066;
}

nav > button {
    transition-duration: 0.8s;
}
  
nav > button:hover {
    background-color: #0cade7; /* Green */
    color: white;
}

nav{
  background-color:#54c5eeb6;
  height: 120px;
}

button {
  background-color: #54c5ee00;
  color: white;
  border-style:none;
  font-size: 21px;
  width: 22%;
  padding: 15px;
  margin-top: 3%;
  text-align: center;
  border-radius: 5px;
}

.botones{
  text-decoration: none;
  color: white;
}

label{
   font-family: 'Open Sans', sans-serif;   
}

input[ type=text ]{
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 20%;
  font-family: 'Open Sans', sans-serif;
  margin: 15px;
}

input[ type=date ]{
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 15%;
  font-family: 'Open Sans', sans-serif;
  margin: 15px;
}

input[ type=submit ]{
  margin-top: 70px;
  width: 200px;
  padding: 15px;
  color: white;
  background-color: #85d6f3;
  font-size: 20px;
  border-style: none;
  border-radius: 8px;
  transition-duration: 0.8s;
}

input[ type=submit ]:hover{
  background-color: #0cade7;
}

select{
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 15%;
  margin: 15px;
}

select > option {
  font-family: 'Open Sans', sans-serif;
}

.FieldHorasExtra{
  margin-top: 50px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}